<div class="announcement-container">

  <mat-card>

    <div class="header">

      <h2>
        Announcements
      </h2>

      <div *ngIf="isAdmin() || isManager()">
        <button mat-raised-button color="primary" [routerLink]="['/add-announcement']">

        Add Announcement

      </button>

      </div>

    </div>

    <table mat-table [dataSource]="
        announcements
      ">

      <!-- Title -->

      <ng-container matColumnDef="title">

        <th mat-header-cell *matHeaderCellDef>

          Title

        </th>

        <td mat-cell *matCellDef="
            let announcement
          ">

          {{
          announcement.title
          }}

        </td>

      </ng-container>

      <!-- Message -->

      <ng-container matColumnDef="message">

        <th mat-header-cell *matHeaderCellDef>

          Message

        </th>

        <td mat-cell *matCellDef="
            let announcement
          ">

          {{
          announcement.message
          }}

        </td>

      </ng-container>

      <!-- CreatedOn -->

      <ng-container matColumnDef="createdOn">

        <th mat-header-cell *matHeaderCellDef>

          Created On

        </th>

        <td mat-cell *matCellDef="
      let announcement
    ">

          {{
          announcement.createdOn
          | date
          }}

        </td>

      </ng-container>

      <!-- Active -->

      <ng-container matColumnDef="isActive">

        <th mat-header-cell *matHeaderCellDef>

          Status

        </th>

        <td mat-cell *matCellDef="
      let announcement
    ">

          {{
          announcement.isActive
          ? 'Active'
          : 'Inactive'
          }}

        </td>

      </ng-container>
      <!-- Actions -->


      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef>

          Actions

        </th>

        <td mat-cell *matCellDef="let announcement">

          <button *ngIf="isAdmin() || isManager()" color="warn" (click)="
        deleteAnnouncement(
          announcement.announcementId
        )
      ">

            Delete

          </button>

        </td>

      </ng-container>


      <tr mat-header-row *matHeaderRowDef="
          displayedColumns
        ">
      </tr>

      <tr mat-row *matRowDef="
          let row;

          columns:
            displayedColumns
        ">
      </tr>

    </table>

  </mat-card>

</div>
