<div class="sidebar-container">

  <div class="sidebar-header">

    
    <div class="sidebar-title">

      <h3>WMS</h3>

      <span>Management Portal</span>

    </div>

  </div>

  <mat-nav-list>

    <a
      *ngIf="isAdmin()"
      mat-list-item
      routerLink="/dashboard"
      routerLinkActive="active-link">

      Dashboard

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/projects"
      routerLinkActive="active-link">

      Projects

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/clients"
      routerLinkActive="active-link">

      Clients

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/departments"
      routerLinkActive="active-link">

      Departments

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/employees"
      routerLinkActive="active-link">

      Employees

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/attendance"
      routerLinkActive="active-link">

      Attendance

    </a>

    <a
      *ngIf="isEmployee() || isManager()"
      mat-list-item
      routerLink="/my-attendance"
      routerLinkActive="active-link">

      My Attendance

    </a>

    <a
      *ngIf="isAdmin() || isManager()"
      mat-list-item
      routerLink="/attendance-report"
      routerLinkActive="active-link">

      Reports

    </a>

    <a
      *ngIf="
        isAdmin() ||
        isManager() ||
        isEmployee()
      "
      mat-list-item
      routerLink="/leave-management"
      routerLinkActive="active-link">

      Leave Management

    </a>

    <a
      *ngIf="
        isAdmin() ||
        isManager() ||
        isEmployee()
      "
      mat-list-item
      routerLink="/announcements"
      routerLinkActive="active-link">

      Announcements

    </a>

    <a
      *ngIf="isAdmin()"
      mat-list-item
      routerLink="/audit-logs"
      routerLinkActive="active-link">

      Audit Logs

    </a>

    <a
      mat-list-item
      routerLink="/profile"
      routerLinkActive="active-link">

      Profile

    </a>

  </mat-nav-list>

</div>
